<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" routerLink="/make_trade">Register Trade</a></li>
  <li><a routerLink="/view_trade">View Trades</a></li>
 <!-- <li><a>Delete Trades</a></li> --> 
  <li><a routerLink="/view_suggestion">Suggestions</a></li>
    <li style="float:right"><a routerLink="/logout">Log out</a></li>
</ul>

<div class="content" role="main">

  <!-- Resources -->
  <h2>Make Trade</h2>
  <p>Sign up</p>

  <div class="card-container">
    <!--change action with proper method call-->
   <form>
  <div class="imgconainer" style="text-align: center">
    <img src="../../assets/trade-icon.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">


     <label for="email"><b>Email</b></label>
     <br>
     <input type="text" placeholder="Enter mail ID" name="email" [(ngModel)]="email" required>
     <br>
    <button (click)="handleViewTrades()"class="btn btn-success">View Trade</button>
<!--
    <ul>
    <li *ngFor="let resultObj of res">
      {{ resultObj }}
    </li>
 </ul> -->


  </div>
 
</form>
</div>
</div>
<!--
 <ul>
    <li *ngFor="let resultObj of res">
      {{ resultObj.tradeID }}
    </li>
 </ul>
-->

<table class="table table-striped">
      <tr>
        <th>Trade ID</th>
        <th>Date</th>
        <th>Ticker</th>
        <th>Quantity</th>
        <th>Type</th>
        <th>State</th>
        <th>Price</th> 
        <th>Total Amount</th>
      </tr>
      <tr *ngFor="let u of res">
        <td>{{u.tradeID}}</td>
        <td>{{u.date}}</td>
        <td>{{u.ticker}}</td>
        <td>{{u.quantity}}</td>
        <td>{{u.type}}</td>
        <td>{{u.state}}</td>
        <td>{{u.price}}</td>
        <td>{{u.totalAmt}}</td>
        </tr>
</table>
    
</body>
</html>