

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="../../assets/trade-icon.jpg"
  />

  <span>Trade</span>
    <div class="spacer"></div>
</div> 

<div class="content" role="main">

  <!-- Resources -->
  <h2>Welcome!!</h2>
  <p>Login or Sign up</p>

  <div class="card-container">
    <!--change action with proper method call-->
   <form>
  <div class="imgconainer" style="text-align: center">
    <img src="../../assets/login_icon.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="email" [(ngModel)]="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>
     <!--<input type=“text” name=“username” [(ngModel)]=“username”>-->
    <button (click)="handleLogin()" class="btn btn-success">Login</button>

    <div class="signup" style="text-align: center">
    <p>Don't you have an account?</p>

    <a class="card" target="_blank" routerLink="/signup" rel="noopener">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.075,10.812c1.358-0.853,2.242-2.507,2.242-4.037c0-2.181-1.795-4.618-4.198-4.618S5.921,4.594,5.921,6.775c0,1.53,0.884,3.185,2.242,4.037c-3.222,0.865-5.6,3.807-5.6,7.298c0,0.23,0.189,0.42,0.42,0.42h14.273c0.23,0,0.42-0.189,0.42-0.42C17.676,14.619,15.297,11.677,12.075,10.812 M6.761,6.775c0-2.162,1.773-3.778,3.358-3.778s3.359,1.616,3.359,3.778c0,2.162-1.774,3.778-3.359,3.778S6.761,8.937,6.761,6.775 M3.415,17.69c0.218-3.51,3.142-6.297,6.704-6.297c3.562,0,6.486,2.787,6.705,6.297H3.415z"/></svg>

      <span>Sign up</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
  </div>
  </div>
 
</form>

  </div>

  
  
</div>
